{% load static %}
<html>
    <head>
        <title>VenvD</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
         <a href="{% url 'signup' %}" class="signup">register</a>
         {% if user.is_authenticated %}
             <a href="{% url 'user_logout' %}" class="logout">Logout</a>
         {% else %}
             <a href="{% url 'user_login' %}" class="login">Login</a>
         {% endif %}
          <h1><a href="/" class="Venv">VenvD</a></h1>
            <h3><a href="{% url 'post_new' %}" class="story">Tell story about you too <span class="dot"></span></a></h3>

        </div>
          <div class="add-comments">
            <div class="delete-posts">
              <div class="content container">
                <div class="row">
                  <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>
