{% extends 'blog/base.html' %}

{% block content %}
    <div class="post" xmlns="http://www.w3.org/1999/html">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user == post.author or user.is_superuser %}
            <a href="{% url 'post_delete' pk=post.pk %}">delete</a>
        {% endif %}
        <h1>{{ post.title }}</h1>

        <p>{{ post.text|linebreaksbr }}</p>
        <img src="{{ post.img.url }}" width="200" alt="My image"/>
    </div>
    <div>
        <h1>Comment</h1>
        <form method="post" action="{% url 'comment_new' post_pk=post.pk %}">
            {% csrf_token %}
            <input type="text" name="text" placeholder="type your comment">
            <input type="hidden" name="parent" value="" id="parent">
            <button type="submit">Save</button>
        </form>
        {% for comment in post.comments.all %}
            <li class="level-{{ comment.level }}">{{ comment.text }}<span class="children"></span> <a href="{% url "comment_delete" post_pk=post.pk comment_pk=comment.pk %}">delete</a>
            <span class="answer" onclick="
                document.getElementById('parent').value = {{ comment.pk }};
            ">answer</span></li>
        {% endfor %}
    </div>
{% endblock %}