<!doctype html>
<html>
    <head>
        <title>venv blog</title>
    </head>
    <body>
        <div>
            <h4 class="title"><a href ='/'>venv blog</a></h4>
        </div>

        <div>
            <p>published: 03.11.2018 </p>
            <h5><a href =''>My first post</a></h5>
            <p>Я хз что написать, поэтому напишу это.</p>
        </div>
        <div>
            <p>published: 03.11.2018</p>
            <h5><a href=''>My second post</a>"</h5>
            <p>Я придумал что написать, поэтому напишу уже не то,а это</p>
        </div>
    </body>
</html>